*{
    padding: 0px;
    margin: 0px;
}
body{
    background-image: url(./carousel\ image\ 2.png);
    background-size: cover;



}




.container{
    width: 80%;
    margin: 50px auto;
    

}
.footer-bottom p {
    font-size: 15px;
}
.contact-box{
    background-color: #fff;
    display: flex;
}
.contact-left{
    flex-basis: 60%;
    padding: 40px 60px;

}
.contact-right{
    flex-basis: 40%;
    padding: 40px;
    background-color: red;
    color: black;
   
}
.container{
    padding: 40px;

}
h1{
    color: white;
}
.container h1{
    padding: 40px;

} 
.container  p {
    padding: 40px;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}
.input-row{
    display: flex;
    margin-bottom: 20px;
    justify-content: space-between;
}
.input-row .input-group
{
flex-basis: 45%;

}
input{
width: 100%;
border: none;
border-bottom: 2px solid #ccc;
outline: none;
}
textarea{
    width: 100%;
    border: 1px solid #ccc;
     padding: 10px;
     outline: none;
     box-sizing: border-box;
}
label{
    margin-bottom: 4px;
    display: block;
    color: black
}
button{
background-color: black;
width: 100px;
outline: none;
border: none;
color: white;
height: 35px;
border-radius: 30px;
margin-top: 30px;
box-shadow: 0px 5px 15px 0px rgba(28, 0, 181, 0.3);
}

.contact-left h3 {
    color: red;
    font-weight: 600;
    margin-bottom: 30px;
}
.contact-right h3 {
    font-weight: 600;
    margin-bottom: 30px;
}
tr td:first-child{
    padding-right: 20px;
}
tr td {
    padding-top: 20px;
}
p{
    font-size: 25px;
}

/* footer css starts from here  */

footer{
    background-color: #111;
    

}
.foodcontainer{
    width: 100%;
    padding: 70px 30px 20px;
    height: 900px;

}

.socialmediaicons{
    display: flex;
    justify-content: center;
}
.socialmediaicons a {
text-decoration: none;
padding: 10px;
background-color: white;
margin: 10px;
border-radius: 50%;
}
.socialmediaicons a i {
    font-size: 2em;
    color: black;
    opacity: 0.9;
    

}
.socialmediaicons a :hover{
    background-color: #111;
    transition: 0.5s;
} 
.socialmediaicons a :hover i {
    color: white;
   
    transition: 0.5s;
}
.footernavbar{
    margin: 30px 0px;

}

.footernavbar ul {
    display: flex;
    justify-content:center ;
}

.footernavbar ul li a{
    color: white;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3em;
    opacity: 0.7;
    transition: 0.5s;
}
.footernavbar ul li a:hover{
    opacity: 1;
    text-decoration: underline;
    color: rgba(250, 10, 10, 0.801);
} 
.footer-bottom{
    background-color: #000;
    padding: 20px;
    justify-content: center;
}
.footer-bottom p{
color: white;
}
.designer{
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400px;
    margin: 0px 5px;
}
.first-page-footer
{
    width: 100%;
}
