*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: "Baloo Bhaijaan 2", sans-serif;
    background-color: #000;
}

#order-now{
    text-decoration: none;
    color: white;
}

    .button{
        width: 237px;
        height: 60px;
        background-color:rgba(250, 10, 10, 0.801) ;
        color: white;
        font-size: 46px;
        border-radius: 20px;
        margin: 23px 5px 19px 38px ;
        padding: -3px 0px 0px 0px;
        
    
    }
    
     .button:hover {
        background-color: black;
        border: 3px solid rgba(250, 10, 10, 0.801);
       cursor: pointer;
      
    }


/* food items starts from here  */

marquee{
    color: white;
    font-size: 20px;
background-color:  rgba(250, 10, 10, 0.801); 

}

.btn button{
    font-size: 30px;
    border: 2px solid black;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    height: 10px;
    width: 0px;
}


.shop-section{
    display: flex;
flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: white

}
.discount{
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 200;
    color: #0f1111;
    padding: 26px 0px 0px 0px;
    margin: 0px 0px 0px 346px;

}
.box{
    
    border-radius: 15px;
    height: 400px;
    width: 23%;
    background-color: white;
    padding: 20px 0px 15px ;
    margin-top: 25px;
    box-shadow: 10px 5px 5px rgba(250, 10, 10, 0.801);
    
}

.box-image{
    height: 300px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-size: cover;
    border-radius: 20px;
}

.box-image:hover{
    color: aqua;
    opacity: 0.6;
    border-radius: 20px;
    
    
}
.box-content{
    margin-left: 1rem;
    margin-right: 1rem;
}
 .box-content p {
    color: blue;
 }

.menu2-page{
    margin-top: 20px;
}


/* footer css starts from here  */

footer{
    background-color: #111;
    

}
.foodcontainer{
    width: 100%;
    padding: 70px 30px 20px;
    height: 900px;

}

.socialmediaicons{
    display: flex;
    justify-content: center;
}
.socialmediaicons a {
text-decoration: none;
padding: 10px;
background-color: white;
margin: 10px;
border-radius: 50%;
}
.socialmediaicons a i {
    font-size: 2em;
    color: black;
    opacity: 0.9;
    

}
.socialmediaicons a :hover{
    background-color: #111;
    transition: 0.5s;
} 
.socialmediaicons a :hover i {
    color: white;
   
    transition: 0.5s;
}
.footernavbar{
    margin: 30px 0px;

}

.footernavbar ul {
    display: flex;
    justify-content:center ;
}

.footernavbar ul li a{
    color: white;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3em;
    opacity: 0.7;
    transition: 0.5s;
}
.footernavbar ul li a:hover{
    opacity: 1;
    text-decoration: underline;
    color: rgba(250, 10, 10, 0.801);
} 
.footer-bottom{
    background-color: #000;
    padding: 20px;
    justify-content: center;
}
.footer-bottom p{
color: white;
}
.designer{
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400px;
    margin: 0px 5px;
}
.second-page-footer{
    width: 100%;
}



